/* Main Container */
.profile_container {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;

}

.profile_container Text {
    -fx-font-size: 4em;
    -fx-fill: linear-gradient(to right bottom, #61D8DE, #E839F6);
    -fx-alignment: left;
}

/* Content Container */
.profile_content_container {
    -fx-background-color: white;
    -fx-background-radius: 0 40 0 40;
    -fx-border-color: linear-gradient(to right bottom, #61D8DE, #E839F6);
    -fx-border-radius: 0 40 0 40;
    -fx-effect: dropshadow(two-pass-box, #a1a1a1,5,0,0,4);
}

.profile_content_container Text {
    -fx-font-size: 2em;
}

.profile_content_container Sphere {
    -fx-background-color: linear-gradient(to right bottom, #61D8DE, #E839F6);
}

.profile_content_container Label {
    -fx-font-size: 1.5em;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(two-pass-box, #a1a1a1,1,0,0,1);
}

.profile_content_container FontAwesomeIcon {
    -fx-border-color: linear-gradient(to right bottom, #61D8DE, #E839F6);
    -fx-border-radius: 0 40 0 40;
}

.profile_content_container Button {
    -fx-text-fill: white;
    -fx-effect: dropshadow(two-pass-box, #757575,5,0,0,4);
    -fx-pref-height: 50;
    -fx-pref-width: 250;
    -fx-font-size: 2em;
    -fx-background-radius: 10 0 10 0;
}

#change_profile_button {
    -fx-background-color: #58fd4b;
}

#delete_profile_button {
    -fx-background-color: #f62727;
}

.profile_content_container Button:hover {
    -fx-cursor: hand;
}