/* Main Container */
.client_upcoming_appointment_cell_container {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-font-family: "Century Gothic";
    -fx-background-radius: 0 40 0 40;
}

.client_upcoming_appointment_cell_container Text {
    -fx-font-size: 1.4em;
    -fx-fill: linear-gradient(to right bottom, #61D8DE, #E839F6);
    -fx-font-weight: bold;
}

.client_upcoming_appointment_cell_container Label {
    -fx-font-size: 1.4em;
    -fx-wrap-text: true;
}

.client_upcoming_appointment_cell_container AnchorPane {
    -fx-border-color: linear-gradient(to right bottom, #61D8DE, #E839F6);
    -fx-border-radius: 0 40 0 40;
}


